* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(image/cloud.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0.8;
}

